$colorLightInteractivePrimary: #ff7535;    
$colorLightInteractivePrimaryForeground: #ffffff;    
$colorLightInteractivePrimaryBackground: #ff7535;    
$colorLightInteractivePrimaryHoverBackground: #ff9666;    
$colorLightInteractiveSecondaryForeground: #29327a;    
$colorLightInteractiveSecondaryBorder: #d3d4d9;    
$colorLightInteractiveSecondaryBackground: #ffffff;    
$colorLightInteractiveSecondaryHoverBackground: #ecf4fe;    
$colorLightInteractiveTertiaryForeground: #29327a;    
$colorLightInteractiveTertiaryBackground: #ffffff00;    
$colorLightInteractiveTertiaryHoverForeground: #3645ab;    
$colorLightInteractiveInverseForeground: #ffffff;    
$colorLightInteractiveInverseBorder: #b2b4bd;    
$colorLightInteractiveInverseBackground: #ffffff00;    
$colorLightInteractiveInverseHoverBackground: #2e3038;    
$colorLightSurfaceForegroundPrimary: #0e0e11;    
/* Gray 80 */
$colorLightSurfaceForegroundSecondary: #535665;    
$colorLightSurfaceForegroundTertiary: #717484;    
$colorLightSurfaceForegroundInverse: #fafafa;    
$colorLightSurfaceContainerBackground: #fafafa;    
$colorLightSurfaceContainerSeparator: #d3d4d9;    
$colorLightSurfaceLayerBorder: #e9eaed;    
$colorLightSurfaceLayerBackground: #ffffff;    
$colorLightSurfaceLayerSeparator: #e9eaed;    
$colorLightSurfaceLayerHoverBackground: #fafafa;    
$colorLightFeedbackSuccessBorder: #22bf7d;    
$colorLightFeedbackSuccessBackground: #dafbed;    
$colorLightFeedbackSuccessForeground: #093e28;    
$colorLightFeedbackErrorBorder: #e9353e;    
$colorLightFeedbackErrorBackground: #ffd6d8;    
$colorLightFeedbackErrorForeground: #4e0408;    
$colorLightFeedbackWarningBorder: #f3bc16;    
$colorLightFeedbackWarningBackground: #fcf3c5;    
$colorLightFeedbackWarningForeground: #402d07;    
$colorLightProgressBackground: #e9eaed;    
$colorLightProgressForeground: #ff7535;    
$colorDarkSurfaceForegroundPrimary: #fafafa;    
$colorDarkSurfaceForegroundSecondary: #d3d4d9;    
$colorDarkSurfaceForegroundTertiary: #b2b4bd;    
$colorDarkSurfaceForegroundInverse: #0e0e11;    
$colorDarkSurfaceContainerBackground: #0e0e11;    
$colorDarkSurfaceContainerSeparator: #2e3038;    
$colorDarkSurfaceLayerBorder: #333333;    
$colorDarkSurfaceLayerBackground: #1c1d22;    
$colorDarkSurfaceLayerSeparator: #40434f;    
$colorDarkSurfaceLayerHoverBackground: #2e3038;    
$colorDarkFeedbackSuccessBorder: #22bf7d;    
$colorDarkFeedbackSuccessBackground: #093e28;    
$colorDarkFeedbackSuccessForeground: #dafbed;    
$colorDarkFeedbackErrorBorder: #e9353e;    
$colorDarkFeedbackErrorBackground: #4e0408;    
$colorDarkFeedbackErrorForeground: #ffd6d8;    
$colorDarkFeedbackWarningBorder: #f3bc16;    
$colorDarkFeedbackWarningBackground: #402d07;    
$colorDarkFeedbackWarningForeground: #fcf3c5;    
$colorDarkProgressBackground: #535665;    
$colorDarkProgressForeground: #ff9666;    
$colorLightSurfaceLayerActiveBackground: #f4f4f6;    
$colorLightSurfaceLayerHighlightBackground: #d9eafd;    
$colorDarkSurfaceLayerActiveBackground: #40434f;    
$colorDarkSurfaceLayerHighlightBackground: #1b2555;    
$colorLightInteractiveFocus: #ff7535;    
$colorDarkInteractiveFocus: #ff7535;    
$colorDarkInteractivePrimaryBackground: #ff7535;    
$colorDarkInteractivePrimaryForeground: #ffffff;    
$colorDarkInteractiveSecondaryForeground: #a3c2f5;    
$colorDarkInteractiveSecondaryBorder: #535665;    
$colorDarkInteractiveSecondaryBackground: #1c1d22;    
$colorDarkInteractiveSecondaryHoverBackground: #2e3038;    
$colorDarkInteractiveSecondaryActiveBackground: #1b2555;    
$colorDarkInteractiveTertiaryForeground: #a3c2f5;    
$colorDarkInteractiveTertiaryBackground: #ffffff00;    
$colorDarkInteractiveTertiaryActiveForeground: #d9eafd;    
$colorDarkInteractiveTertiaryHoverForeground: #7495e7;    
$colorDarkInteractiveInverseForeground: #0e0e11;    
$colorDarkInteractiveInverseBorder: #535665;    
$colorDarkInteractiveInverseBackground: #ffffff00;    
$colorDarkInteractiveInverseHoverBackground: #f4f4f6;    
$colorDarkInteractiveInverseActiveBackground: #e9eaed;    
$colorLightInteractiveTrainerOnLayerBackground: #fafafa;    
$colorLightInteractiveTrainerOnLayerForeground: #0e0e11;    
$colorLightInteractiveTrainerOnLayerBorder: #d3d4d9;    
$colorLightInteractiveTrainerOnLayerHoverBackground: #ecf5fe;    
$colorLightInteractiveTrainerOnLayerActiveBackground: #d9eafd;    
$colorLightInteractiveTrainerOnLayerActiveBorder: #7495e7;    
$colorLightInteractiveNavigationForegroundResting: #535665;    
$colorLightInteractiveNavigationForegroundActive: #ff7535;    
$colorDarkInteractiveInverseDisabledForeground: #b2b4bd;    
$colorDarkInteractiveInverseDisabledBorder: #d3d4d9;    
$colorDarkInteractiveInverseDisabledBackground: #ffffff00;    
$colorDarkInteractiveTrainerOnLayerBackground: #2e3038;    
$colorDarkInteractiveTrainerOnLayerForeground: #fafafa;    
$colorDarkInteractiveTrainerOnLayerBorder: #535665;    
$colorDarkInteractiveTrainerOnLayerHoverBackground: #40434f;    
$colorDarkInteractiveTrainerOnLayerActiveBackground: #1b2555;    
$colorDarkInteractiveTrainerOnLayerActiveBorder: #7495e7;    
$colorDarkInteractiveTrainerOnContainerBackground: #1c1d22;    
$colorDarkInteractiveTrainerOnContainerForeground: #fafafa;    
$colorDarkInteractiveTrainerOnContainerBorder: #535665;    
$colorDarkInteractiveTrainerOnContainerActiveBackroungd: #1b2555;    
$colorDarkInteractiveTrainerOnContainerActiveBorder: #7495e7;    
$colorDarkInteractiveTrainerOnContainerHoverBackground: #2e3038;    
$colorDarkInteractiveNavigationForegroundResting: #d3d4d9;    
$colorDarkInteractiveNavigationForegroundActive: #ff7535;    
$colorLightInteractiveNavigationForegroundHover: #ff7535;    
$colorDarkInteractiveNavigationForegroundHover: #ff7535;    
$colorLightSurfaceLayerPremiumBorder: #7031af;    
$colorLightSurfaceLayerPremiumBackground: #ebd8fd;    
$colorDarkSurfaceLayerPremiumBorder: #cca3f5;    
$colorDarkSurfaceLayerPremiumBackground: #331452;    
$colorLightInteractiveSecondaryActiveBackground: #d9eafd;    
$colorLightInteractivePrimaryActiveBackground: #ffb999;    
$colorDarkInteractivePrimaryActiveBackground: #ae3704;    
$colorDarkInteractivePrimaryHoverBackground: #e14a05;    
$colorDarkInteractivePrimaryDisabledForeground: #717484;    
$colorDarkInteractivePrimaryDisabledBorder: #535665;    
$colorDarkInteractivePrimaryDisabledBackground: #2e3038;    
$colorLightInteractivePrimaryDisabledForeground: #b2b4bd;    
$colorLightInteractivePrimaryDisabledBorder: #d3d4d9;    
$colorLightInteractivePrimaryDisabledBackground: #e9eaed;    
$colorLightInteractiveSecondaryDisabledForeground: #b2b4bd;    
$colorLightInteractiveSecondaryDisabledBorder: #d3d4d9;    
$colorLightInteractiveSecondaryDisabledBackground: #e9eaed;    
$colorDarkInteractiveSecondaryDisabledForeground: #717484;    
$colorDarkInteractiveSecondaryDisabledBorder: #535665;    
$colorDarkInteractiveSecondaryDisabledBackground: #2e3038;    
$colorLightInteractiveTertiaryActiveForeground: #4963d4;    
$colorLightInteractiveTertiaryDisabledForeground: #b2b4bd;    
$colorDarkInteractiveTertiaryDisabledForeground: #717484;    
$colorLightInteractiveInverseActiveBackground: #535665;    
$colorLightInteractiveInverseDisabledForeground: #2e3038;    
$colorLightInteractiveInverseDisabledBorder: #535665;    
$colorLightInteractiveInverseDisabledBackground: #ffffff00;    
$colorLightCompletionBackground: #e9eaed;    
$colorLightCompletionForeground: #4ed0cb;    
$colorDarkCompletionBackground: #535665;    
$colorDarkCompletionForeground: #79e2e2;    
$colorLightSurfaceLayerInformativeBackground: #ffffff;    
$colorLightSurfaceLayerInformativeBorder: #d3d4d9;    
$colorLightSurfaceLayerInformativeInverseBackground: #1c1d22;    
$colorLightSurfaceLayerShimmerBackground: #f4f4f6;    
$colorLightSurfaceLayerShimmerForeground: #e9eaed;    
$colorDarkSurfaceLayerShimmerBackground: #2e3038;    
$colorDarkSurfaceLayerShimmerForeground: #535665;    
$colorLightInteractiveTextfieldUnderlinedForeground: #0e0e11;    
$colorLightInteractiveTextfieldUnderlinedPlaceholder: #717484;    
$colorLightInteractiveTextfieldUnderlinedBorder: #717484;    
$colorLightInteractiveTextfieldUnderlinedBackground: #f4f4f6;    
$colorLightInteractiveTextfieldUnderlinedHoverBorder: #1c1d22;    
$colorLightInteractiveTextfieldUnderlinedDisabledBorder: #e9eaed;    
$colorLightInteractiveTextfieldUnderlinedDisabledForeground: #535665;    
$colorLightInteractiveTextfieldUnderlinedDisabledBackground: #e9eaed;    
$colorDarkInteractiveTextfieldUnderlinedBorder: #d3d4d9;    
$colorLightInteractiveTextfieldOutlinedForeground: #0e0e11;    
$colorLightInteractiveTextfieldOutlinedPlaceholder: #717484;    
$colorLightInteractiveTextfieldOutlinedBorder: #717484;    
$colorDarkInteractiveTextfieldUnderlinedForeground: #fafafa;    
$colorDarkInteractiveTextfieldUnderlinedBackground: #2e3038;    
$colorDarkInteractiveTextfieldUnderlinedPlaceholder: #b2b4bd;    
$colorDarkInteractiveTextfieldUnderlinedHoverBorder: #fafafa;    
$colorDarkInteractiveTextfieldUnderlinedDisabledBorder: #535665;    
$colorLightInteractiveTextfieldOutlinedBackground: #fafafa;    
$colorDarkInteractiveTextfieldUnderlinedDisabledForeground: #9194a1;    
$colorDarkInteractiveTextfieldUnderlinedDisabledBackground: #1c1d22;    
$colorLightInteractiveTextfieldOutlinedHoverBorder: #1c1d22;    
$colorLightInteractiveTextfieldOutlinedDisabledBackground: #fafafa;    
$colorLightInteractiveTextfieldOutlinedDisabledBorder: #e9eaed;    
$colorLightInteractiveTextfieldOutlinedDisabledForeground: #535665;    
$colorDarkInteractiveTextfieldOutlinedBorder: #d3d4d9;    
$colorDarkInteractiveTextfieldOutlinedForeground: #fafafa;    
$colorDarkInteractiveTextfieldOutlinedPlaceholder: #b2b4bd;    
$colorDarkInteractiveTextfieldOutlinedBackground: #0e0e11;    
$colorDarkInteractiveTextfieldOutlinedActiveBorder: #fafafa;    
$colorDarkInteractiveTextfieldOutlinedDisabledBorder: #535665;    
$colorDarkInteractiveTextfieldOutlinedDisabledForeground: #9194a1;    
$colorDarkInteractiveTextfieldOutlinedDisabledBackground: #1c1d22;    
$colorRawYellowsYellow10: #fefbec;    
$colorRawYellowsYellow20: #fcf3c5;    
$colorRawYellowsYellow30: #f9e78b;    
$colorRawYellowsYellow40: #f6cd51;    
$colorRawYellowsYellow50: #f3bc16;    
$colorRawYellowsYellow60: #d5920b;    
$colorRawYellowsYellow70: #6d4a03;    
$colorRawYellowsYellow80: #402d07;    
$colorRawYellowsYellow90: #251a04;    
$colorRawOrangesOrange10: #fff1eb;    
$colorRawOrangesOrange20: #ffdccc;    
$colorRawOrangesOrange30: #ffb999;    
$colorRawOrangesOrange40: #ff9666;    
$colorRawOrangesOrange50: #ff7535;    
$colorRawOrangesOrange60: #e14a05;    
$colorRawOrangesOrange70: #ae3704;    
$colorRawOrangesOrange80: #7d2703;    
$colorRawOrangesOrange90: #4b1802;    
$colorRawRedsRed10: #ffebec;    
$colorRawRedsRed20: #ffd6d8;    
$colorRawRedsRed30: #ff999e;    
$colorRawRedsRed40: #f7646b;    
$colorRawRedsRed50: #e9353e;    
$colorRawRedsRed60: #ca161f;    
$colorRawRedsRed70: #88070e;    
$colorRawRedsRed80: #4e0408;    
$colorRawRedsRed90: #310205;    
$colorRawPurplesPurple10: #f5ecfe;    
$colorRawPurplesPurple20: #ebd8fd;    
$colorRawPurplesPurple30: #cca3f5;    
$colorRawPurplesPurple40: #ad74e7;    
$colorRawPurplesPurple50: #8f50ce;    
$colorRawPurplesPurple60: #7031af;    
$colorRawPurplesPurple70: #52247f;    
$colorRawPurplesPurple80: #331452;    
$colorRawPurplesPurple90: #1f0c31;    
$colorRawBluesBlue10: #ecf5fe;    
$colorRawBluesBlue20: #d9eafd;    
$colorRawBluesBlue30: #a3c2f5;    
$colorRawBluesBlue40: #7495e7;    
$colorRawBluesBlue50: #4963d4;    
$colorRawBluesBlue60: #3645ab;    
$colorRawBluesBlue70: #29327a;    
$colorRawBluesBlue80: #1b2555;    
$colorRawBluesBlue90: #12183b;    
$colorRawTealsTeal10: #eefbfb;    
$colorRawTealsTeal20: #ddf8f8;    
$colorRawTealsTeal30: #abeded;    
$colorRawTealsTeal40: #79e2e2;    
$colorRawTealsTeal50: #4ed0cb;    
$colorRawTealsTeal60: #2ba1a1;    
$colorRawTealsTeal70: #166666;    
$colorRawTealsTeal80: #0e4343;    
$colorRawTealsTeal90: #0a2e2e;    
$colorRawGreensGreen10: #edfdf6;    
$colorRawGreensGreen20: #dafbed;    
$colorRawGreensGreen30: #94f0c9;    
$colorRawGreensGreen40: #4bd29a;    
$colorRawGreensGreen50: #22bf7d;    
$colorRawGreensGreen60: #109367;    
$colorRawGreensGreen70: #0d5939;    
$colorRawGreensGreen80: #093e28;    
$colorRawGreensGreen90: #06281a;    
$colorRawGreysWhite: #ffffff;    
$colorRawGreysGrey10: #fafafa;    
$colorRawGreysGrey20: #f4f4f6;    
$colorRawGreysGrey30: #e9eaed;    
$colorRawGreysGrey40: #d3d4d9;    
$colorRawGreysGrey50: #b2b4bd;    
$colorRawGreysGrey60: #9194a1;    
$colorRawGreysGrey70: #717484;    
$colorRawGreysGrey80: #535665;    
$colorRawGreysGrey85: #40434f;    
$colorRawGreysGrey90: #2e3038;    
$colorRawGreysGrey95: #1c1d22;    
$colorRawGreysGrey99: #0e0e11;    
$colorRawGreysBlack: #000000;    
$colorDarkSurfaceLayerInformativeInverseBackground: #f4f4f6;    
$colorDarkSurfaceLayerInformativeBackground: #1c1d22;    
$colorDarkSurfaceLayerInformativeBorder: #717484;    
$colorLightInteractiveTabDefaultForeground: #9194a1;    
$colorLightInteractiveTabActiveForeground: #0e0e11;    
$colorLightInteractiveTabActiveBorder: #0e0e11;    
$colorDarkInteractiveTabDefaultForeground: #9194a1;    
$colorDarkInteractiveTabActiveBorder: #fafafa;    
$colorDarkInteractiveTabActiveForeground: #fafafa;    
$colorLightInteractiveSecondaryActiveBorder: #7495e7;    
$colorDarkInteractiveSecondaryActiveBorder: #7495e7;    
$colorLightProgressAudioBackground: #ffffff;    
$colorLightProgressAudioForeground: #29327a;    
$colorLightProgressAudioBorder: #d3d4d9;    
$colorLightProgressAudioHoverBackground: #ecf5fe;    
$colorLightProgressAudioActiveBorder: #29327a;    
$colorLightProgressAudioActiveSlow: #7495e7;    
$colorDarkProgressAudioBackground: #1c1d22;    
$colorDarkProgressAudioForeground: #a3c2f5;    
$colorDarkProgressAudioBorder: #40434f;    
$colorDarkProgressAudioHoverBackground: #2e3038;    
$colorDarkProgressAudioActiveBorder: #9fc2f9;    
$colorDarkProgressAudioActiveSlow: #4963d4;    
$colorLightSurfaceLayerOtherReviewBackground: #fcf3c5;    
$colorLightSurfaceLayerOtherUpNextBackground: #ffdccc;    
$colorDarkSurfaceLayerOtherReviewBackground: #402d07;    
$colorLightInteractiveTrainerOnContainerBackgoround: #ffffff;    
$colorLightInteractiveTrainerOnContainerForeground: #0e0e11;    
$colorLightInteractiveTrainerOnContainerBorder: #d3d4d9;    
$colorLightInteractiveTrainerOnContainerActiveBackground: #d9eafd;    
$colorLightInteractiveTrainerOnContainerActiveBorder: #7495e7;    
$colorLightInteractiveTrainerOnContainerHoverBackground: #ecf5fe;    
$colorDarkSurfaceLayerOtherUpNextBackground: #535665;    
