
:root {
    --shadowLightElevation1Default: 0 0 16px 0 rgba(0,0,0,0.08);  
    --shadowDarkElevation1Default: 0 0 16px 0 rgba(0,0,0,0.32);  
    --shadowLightElevation1Hover: 0 0 48px 0 rgba(0,0,0,0.08);  
    --shadowDarkElevation1Hover: 0 0 48px 0 rgba(0,0,0,0.32);  
    --shadowLightElevation1Pressed: 0 0 8px 0 rgba(0,0,0,0.08);  
    --shadowDarkElevation1Pressed: 0 0 24px 0 rgba(0,0,0,0.32);  
    --shadowLightElevation2Default: 0 2px 8px 0 rgba(0,0,0,0.08);  
    --shadowDarkElevation2Default: 0 2px 8px 0 rgba(0,0,0,0.32);  
    --shadowLightElevation2Hover: 0 2px 16px 0 rgba(0,0,0,0.08);  
    --shadowDarkElevation2Hover: 0 2px 16px 0 rgba(0,0,0,0.32);  
    --shadowLightElevation2Pressed: 0 2px 4px 0 rgba(0,0,0,0.08);  
    --shadowDarkElevation2Pressed: 0 2px 4px 0 rgba(0,0,0,0.32);  
}